<div *ngIf="items.length > 0">
  <div>
    <label for="searchItem">Cari Pelanggan:</label>
    <input
      type="text"
      id="searchItem"
      [(ngModel)]="searchItemName"
      (input)="searchItems()"
    />
  </div>
  <div>
    <label for="sortDirection">Urutkan Berdasarkan:</label>
    <select
      id="sortDirection"
      [(ngModel)]="sortDirection"
      (change)="sortItems()"
    >
      <option value="asc">Ascending</option>
      <option value="desc">Descending</option>
    </select>
  </div>
  <ul>
    <li *ngFor="let item of items">
      <p>{{ item.itemId }} - {{ item.itemName }}</p>
      <button (click)="goDetailItem(item.itemId)">Detail</button>
      <button class="m-2" (click)="goEditItem(item.itemId)">Edit</button>
      <button class="m-2" (click)="deleteItem(item.itemId)">Delete</button>
    </li>
  </ul>
  <div>
    <button
      [disabled]="currentPage === 1"
      (click)="onPageChange(currentPage - 1)"
    >
      Previous
    </button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button
      [disabled]="currentPage === totalPages"
      (click)="onPageChange(currentPage + 1)"
      class="bg-cyan-50"
    >
      Next
    </button>
  </div>
  <button class="bg-cyan-100" (click)="goAddItem()">Add item</button>
</div>
<div *ngIf="items.length === 0">
  <p>Data sudah tidak tersedia</p>
</div>
